.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;

}

.container {
  margin-top: 40px;
}

.ricerca-cell {
  /* border:2px solid red ; */
  height:8,33% ;
  margin: 2px;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  flex-wrap:wrap-reverse;
}

.ricerca-inp{
  width: 100%;
}

.label-ricerca{
justify-content: space-between;
flex-flow: row wrap;
height: 70px;
width: 115px;
text-align: center;
padding: 10%;
margin-bottom:10px;
align-items: baseline;
  align-content: center;
}

.filter-btn {
margin-top: 10px;
margin-bottom: 10px;
}

.input-div{
position:relative;
top:0px;
}